{% extends "base.html" %}

{% block title %}{{ SITE_NAME }} - Blog Posts{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
		<div class="page">
			<header class="blog-header">
				<h1 class="blog-title">{{ article.title }}</h1>
				{% if article.subtitle %}
				<h2 class="blog-subtitle">{{ article.subtitle }}</h2>
				{% endif %}
			</header>
			<article class="blog-content">
				{{ article.content }}
			</article>
		</div>
	</div>
</div>
{% endblock %}
