{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
		<header class="blog-header">
			<h1 class="blog-title">{{ page.title }}</h1>
		</header>
		{% for category, articles in categories %}
			{% if category=="project" %}
				{% for article in articles|sort(attribute="date", reverse=true) %}
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="project-item">
							<div class="col-md-12 project-title">
								<strong>{{ article.title }}</strong>
							</div>
							<div class="col-md-12 project-tag">
								<small>{{ article.tag }}</small>
							</div>
							<div class="col-md-12 project-descr"> {{ article.summary }} </div>
							<div class="col-md-12 project-link">
								<a href="{{ article.url }}" class="btn btn-primary btn-large btn-block">View Project Page</a>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}